
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #3E7C6F; 
    color: white;
}

.header .logo img {
    width: 50px;
}

.header .nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.header .nav-links a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #5D4037; 
    margin: 20px 0;
}

.search-filter {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-filter input,
.search-filter select,
.search-filter button,
.search-filter a {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-filter button {
    background-color: #4A90E2; 
    color: white;
    border: none;
    cursor: pointer;
}

.search-filter button:hover,
.search-filter a:hover {
    background-color: #357ABD; 
}

.search-filter a {
    color: #4A90E2; 
    text-decoration: none;
    font-weight: bold;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th {
    background-color: #3E7C6F;
    color: white;
    padding: 12px;
    font-weight: bold;
}

td {
    padding: 12px;
    text-align: center;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.action-link {
    color: #4A90E2;
    font-weight: bold;
    text-decoration: none;
}

.action-link.delete {
    color: red;
}

.action-link:hover {
    text-decoration: underline;
}

/* CSS cho sidebar */
.sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 10px;
    background-color: #5D4037;
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1;
}

.sidebar h1 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar button {
    width: 100%;
    background-color: #FFA726;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sidebar button:hover {
    background-color: #FB8C00; 
}

.sidebar a {
    text-decoration: none;
    color: white;
}


.content {
    margin-left: 220px; 
    padding: 20px;
}
